

.input-fields {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 500px;
  margin-top: 20px;
  background-color: lightskyblue;
  padding: 10px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16pt;
  margin-bottom: 5px;
}

.author-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16pt;
  margin-top: 5px;
}

.add-book-btn {
  width: 100px;
  margin: 0 auto;
  font-size: 14pt;
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: gray;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.add-book-btn:hover {
  background-color: crimson;
}

.author-txt {
  font-size: 16pt;

}

.book-txt {
  font-size: 16pt;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .input-fields {
    width: 85%;
  }

  .author-txt {
    font-size: 14pt;
  
  }
  
  .book-txt {
    font-size: 14pt;
  }

  .add-book-btn {
    font-size: 12pt;
  }
}